[submodule "SpecFrameworks/OpenSpec-cn"]
	path = SpecFrameworks/OpenSpec-cn
	url = https://github.com/studyzy/OpenSpec-cn
[submodule "SpecFrameworks/OpenSpec"]
	path = SpecFrameworks/OpenSpec
	url = https://github.com/Fission-AI/OpenSpec
[submodule "SpecFrameworks/Trellis"]
	path = SpecFrameworks/Trellis
	url = https://github.com/mindfold-ai/trellis
[submodule "SpecFrameworks/spec-kit"]
	path = SpecFrameworks/spec-kit
	url = https://github.com/github/spec-kit
[submodule "SpecFrameworks/superpowers"]
	path = SpecFrameworks/superpowers
	url = https://github.com/obra/superpowers
